$primary: #1BC5BD;
$primary-a90: #1BC5BD90;
$secondary: #005B96;
$secondary-a90: #005B9690;
$warning: #F6CA65;
$white: #fff;
$black: #011F4B;
$grey: #F3F6F9;
$dark-grey: #7E8299;
$light-blue: #F1FAFE;